# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/public

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# Hugo resources folder
resources

# Env
.env*

# Tutorial files are pulled at build time
haystack-tutorials
content/tutorials
!content/tutorials/_index.md

haystack-integrations
content/integrations/*.md
!content/integrations/_index.md

haystack-advent
content/advent-of-haystack/*
!content/advent-of-haystack/_index.md

static/downloads
assets/jsconfig.json
