baseURL = 'https://haystack.deepset.ai/'
languageCode = 'en-us'
title = 'Haystack Home'
theme = "haystack"

# Disable /tags and /categories pages
disableKinds = ["taxonomy", "term"]

[sitemap]
  changefreq = 'monthly'
  filename = 'sitemap.xml'
  priority = 1

# Defaults used for opengraph metadata if none are specified for the page
[params]
  title = "Haystack Home"
  description = "Haystack is an open-source framework for building search systems that work intelligently over large document collections."
  images = ["/images/haystack-ogimage.png"]

[permalinks]
  tutorials = "/tutorials/:filename"
  overview = "/:filename"
  pages = "/:filename"

[security]
  [security.funcs]
    getenv = ["^HUGO_", "ORBIT_API_KEY", "GITHUB_ACCESS_TOKEN", "GOOGLE_TAG_ANALYTICS"]

[markup]
  # Code blocks
  [markup.highlight]
    anchorLineNos = false
    codeFences = true
    guessSyntax = false
    hl_Lines = ''
    hl_inline = false
    lineAnchors = ''
    lineNoStart = 1
    lineNos = false
    lineNumbersInTable = true
    noClasses = true
    noHl = false
    style = 'solarized-light'
    tabWidth = 4

  # Toc link levels (h2)
  [markup.tableOfContents]
    endLevel = 2
    startLevel = 2

  # Allow html in markdown
  [markup.goldmark.renderer]
    unsafe= true

# Main navigation
[menu]
[[menu.main]]
  identifier = 'overview'
  name = 'Overview'
  url = '/'
  weight = 1
  
[[menu.main]]
  identifier = 'documentation'
  name = 'Documentation'
  url = 'https://docs.haystack.deepset.ai/docs'
  weight = 2

[[menu.main]]
  identifier = 'tutorials'
  name = 'Tutorials'
  url = '/tutorials'
  weight = 3

[[menu.main]]
  identifier = 'benchmarks'
  name = 'Benchmarks'
  url = '/benchmarks'
  weight = 4
  
[[menu.main]]
  identifier = 'community'
  name = 'Community'
  url = '/community'
  weight = 5

[[menu.main]]
  identifier = 'learn'
  name = 'Learn'
  url = '/'
  weight = 6

# Overview children
[[menu.main]]
  name = 'What is Haystack?'
  url = '/intro'
  parent = 'overview'
  weight = 1

[[menu.main]]
  name = 'Quick Start'
  url = '/quick-start'
  parent = 'overview'
  weight = 2

[[menu.main]]
  name = 'Quick Demo'
  url = '/demo'
  parent = 'overview'
  weight = 3

[[menu.main]]
  name = 'Roadmap'
  url = '/roadmap'
  parent = 'overview'
  weight = 4

[[menu.main]]
  name = 'Use Cases'
  url = '/use-cases'
  parent = 'overview'
  weight = 5

# Learn children
[[menu.main]]
  name = 'NLP Resources'
  url = '/nlp-resources'
  parent = 'learn'
  weight = 1

[[menu.main]]
  name = 'Blog'
  url = 'https://www.deepset.ai/blog'
  parent = 'learn'
  weight = 2
