{{/* Integration */}}
{{ define "main" }}

  {{ $maintainer := "community" }}
  {{ range .Params.authors }}
    {{ if eq .name "deepset" }}
      {{ $maintainer = "deepset" }}
    {{ end }}
  {{ end }}

  <div class="container">
    <div class="inner inner-top">
      <div class="integration">
        {{/* Sidebar */}}
        {{ partial "integration-sidebar" . }}

        {{/* Integration */}}
        <article class="article-content">

          {{ if eq $maintainer "deepset" }}
            <div class="integration-tag integration-tag-page">
              <svg id="Layer_1" width="22" data-name="Layer 1" fill="#188bf5" xmlns="http://www.w3.org/2000/svg" viewBox="23 20 39 36.48"><path d="M45.55,46h-2.1a.45.45,0,0,1-.45-.45v-5.3a.25.25,0,0,0-.25-.25H23.45a.45.45,0,0,1-.45-.45V20.45a.45.45,0,0,1,.45-.45h22.1a.45.45,0,0,1,.45.45v16.3a.25.25,0,0,0,.25.25h15.3a.45.45,0,0,1,.45.45v2.1a.45.45,0,0,1-.45.45H46.25a.25.25,0,0,0-.25.25v5.3A.45.45,0,0,1,45.55,46ZM26.2,37H42.8a.2.2,0,0,0,.2-.2V23.2a.2.2,0,0,0-.2-.2H26.2a.2.2,0,0,0-.2.2V36.8A.2.2,0,0,0,26.2,37Z"></path><circle cx="44.5" cy="52.98" r="3.5"></circle></svg><span>Maintained by deepset</span>
            </div>
          {{ end }}

          {{/*  Title & descripion  */}}
          <h1>Integration: {{ .Params.name }}</h1>
          <p class="integration-description">{{ .Params.description }}</p>

          {{/*  Authors  */}}
          <div class="integration-authors">
            <span class="title">Authors</span>
            <div class="authors-container">
              {{ range .Params.authors }}
                <div>
                  <span>{{ .name }}</span>
    
                  {{ with .socials }}
                    <div class="socials">
                      {{ with .github }}
                        <a href="https://github.com/{{ . }}" target="_blank" rel="noopener noreferrer">
                          <img src="/images/icons/github.svg" alt="{{ . }}" />
                        </a>
                      {{ end }}
      
                      {{ with .twitter }}
                        <a href="https://twitter.com/{{ . }}" target="_blank" rel="noopener noreferrer">
                          <img src="/images/icons/twitter-dark.svg" class="twitter-icon" alt="{{ . }}" />
                        </a>
                      {{ end }}
                    </div>
                  {{ end }}
                </div>
              {{ end }}
            </div>
          </div>

          <div class="button-container">
            {{/*  Github button  */}}
            {{ with .Params.repo }}
              <a
                href="{{ . }}"
                download
                class="btn btn-light-blue download-btn"
                target="_blank"
                rel="noopener"
              >
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path
                  d="M10 0C4.48 0 0 4.59 0 10.25c0 4.53 2.87 8.37 6.84 9.73.5.09.68-.22.68-.5l-.01-1.74c-2.78.62-3.37-1.37-3.37-1.37-.45-1.18-1.11-1.5-1.11-1.5-.91-.64.07-.62.07-.62 1 .08 1.53 1.06 1.53 1.06.89 1.57 2.34 1.11 2.91.85.09-.66.35-1.11.63-1.37-2.22-.25-4.55-1.13-4.55-5.06 0-1.12.39-2.03 1.03-2.75-.1-.26-.45-1.3.09-2.71 0 0 .84-.28 2.75 1.05a9.43 9.43 0 015 0c1.91-1.33 2.75-1.05 2.75-1.05.55 1.41.2 2.45.1 2.71a4.02 4.02 0 011.03 2.75c0 3.94-2.34 4.8-4.57 5.06.36.31.68.94.68 1.9l-.01 2.81c0 .28.18.59.69.49a10.23 10.23 0 006.83-9.72A10.12 10.12 0 0010 0z"
                  fill="#fff" fill-rule="evenodd" clip-rule="evenodd" />
              </svg>
                GitHub Repo
              </a>
            {{ end }}

            {{/* Pypi button */}}
            {{ with .Params.pypi }}
              <a
                href="{{ . }}"
                class="btn btn-dark-blue download-btn"
                target="_blank"
                rel="noopener"
              >
              <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" viewBox="0.14 0.07 255.38 254.05">
                <defs>
                  <linearGradient id="a" x1="12.95936%" x2="79.63883%" y1="12.03939%" y2="78.20085%">
                    <stop offset="0%" stop-color="#387EB8"/>
                    <stop offset="100%" stop-color="#366994"/>
                  </linearGradient>
                  <linearGradient id="b" x1="19.12752%" x2="90.74153%" y1="20.57918%" y2="88.42904%">
                    <stop offset="0%" stop-color="#FFE052"/>
                    <stop offset="100%" stop-color="#FFC331"/>
                  </linearGradient>
                </defs>
                <path fill="url(#a)" d="M126.91587.07228c-64.83229 0-60.78374 28.11518-60.78374 28.11518l.07227 29.12705h61.86788v8.74534H41.63072S.14455 61.35495.14455 126.77132c0 65.41635 36.21005 63.09655 36.21005 63.09655H57.965v-30.35573s-1.16486-36.21005 35.63184-36.21005h61.36194s34.47544.5573 34.47544-33.31903V33.96951S194.66854.07228 126.91587.07228ZM92.8018 19.65895c6.1554 0 11.13043 4.97503 11.13043 11.13043s-4.97503 11.13044-11.13043 11.13044-11.13044-4.97504-11.13044-11.13044 4.97504-11.13043 11.13044-11.13043Z"/>
                <path fill="url(#b)" d="M128.7571 254.12627c64.8323 0 60.78374-28.11519 60.78374-28.11519l-.07228-29.12704H127.6007v-8.74535h86.44156s41.48617 4.7049 41.48617-60.71148c.00002-65.41635-36.21005-63.09655-36.21005-63.09655h-21.6104v30.35572s1.16488 36.21005-35.63184 36.21005h-61.36195s-34.47544-.5573-34.47544 33.31906v56.01355s-5.23432 33.89723 62.51836 33.89723Zm34.11406-19.58667c-6.1554 0-11.13043-4.97504-11.13043-11.13044s4.97503-11.13043 11.13043-11.13043 11.13044 4.97503 11.13044 11.13043c.00002 6.1554-4.97504 11.13044-11.13044 11.13044Z"/>
              </svg>
                PyPI Package
              </a>
            {{ end }}
          </div>

          {{/* Article content */}}
          {{ .Content }}
        </article>

        {{/* Report an issue sidebar */}}
        <aside class="right-sidebar">
          <div class="sidebar-buttons">
            <a
              href="{{ .Params.report_issue }}"
              class="btn"
              target="_blank"
              rel="noopener"
              >Report an Issue</a
            >
          </div>
        </aside>
      </div>
    </div>
  </div>
{{ end }}
