{{ define "main" }}
  {{ $currentPage := . }}
  <div class="container">
    <div class="inner inner-top">
      <div class="article overview">
        <aside class="toc-sidebar">
          {{/* Authors */}}
          {{ if .Params.authors }}
            {{ partial "blog-post-authors" . }}
          {{ end }}
          <ul class="content" role="list">
            <li>
              {{ if (eq $currentPage.RelPermalink .RelPermalink) }}
                <details class="accordion-js accordion-child" open>
                  <summary class="accordion-title">
                    {{ .Params.title }}
                  </summary>
                  {{ if .Params.toc }}
                    <div class="content">
                      {{ .TableOfContents }}
                    </div>
                  {{ end }}
                </details>
              {{ else }}
                <a
                  class="tutorial-card category-{{ lower .Params.category }}"
                  href="{{ .RelPermalink }}"
                >
                  {{ .Params.title }}
                </a>
              {{ end }}
            </li>
          </ul>
        </aside>
        <article class="article-content">
          <div class="article-title">
            <h1>{{ .Params.title }}</h1>

            {{ with .Params.link}}
              {{ partial "arrow-button" (dict "context" . "type" "link" "text" "Check on Github" "url" . "color" "grey") }}
            {{ end }}
          </div>
          
          {{ .Content }}
        </article>
      </div>
    </div>
  </div>
{{ end }}
