{{/* Single tutorial */}}
{{ define "main" }}
  <div class="container">
    <div class="inner inner-top">
      <div class="tutorial">
        {{/* Toc sidebar */}}
        {{ partial "tutorial-sidebar" . }}

        {{/* Tutorial */}}
        <article class="article-content">
          {{ .Content }}
        </article>

        {{/* Stars/contribute sidebar */}}
        <aside class="right-sidebar">
          {{ partial "github-stars" . }}
          <div class="sidebar-buttons">
            <a
              href="https://github.com/deepset-ai/haystack/tree/master/tutorials"
              class="btn"
              >Edit on Github</a
            >
            <a
              href="https://github.com/deepset-ai/haystack/discussions"
              class="btn"
              >Start a Discussion!</a
            >
          </div>
        </aside>
      </div>
    </div>
  </div>
{{ end }}
