{{/* Single tutorial */}}
{{ define "main" }}
  <div class="container">
    <div class="inner inner-top">
      <div class="tutorial">
        {{/* Toc sidebar */}}
        {{ partial "tutorial-sidebar" . }}

        {{/* Tutorial */}}
        <article class="article-content">
          <h1>
            {{ .Params.title }}
          </h1>

          {{/* Colab button */}}
          {{ with .Params.colab }}
            <a href="{{ . }}" class="btn btn-dark-blue colab-btn">
              <svg
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid meet"
                focusable="false"
                viewBox="0.17 5.07 23.67 13.87"
              >
                <g>
                  <path
                    d="M4.54,9.46,2.19,7.1a6.93,6.93,0,0,0,0,9.79l2.36-2.36A3.59,3.59,0,0,1,4.54,9.46Z"
                    fill="#E8710A"
                  />
                  <path
                    d="M2.19,7.1,4.54,9.46a3.59,3.59,0,0,1,5.08,0l1.71-2.93h0l-.1-.08h0A6.93,6.93,0,0,0,2.19,7.1Z"
                    fill="#F9AB00"
                  />
                  <path
                    d="M11.34,17.46h0L9.62,14.54a3.59,3.59,0,0,1-5.08,0L2.19,16.9a6.93,6.93,0,0,0,9,.65l.11-.09"
                    fill="#F9AB00"
                  />
                  <path
                    d="M12,7.1a6.93,6.93,0,0,0,0,9.79l2.36-2.36a3.59,3.59,0,1,1,5.08-5.08L21.81,7.1A6.93,6.93,0,0,0,12,7.1Z"
                    fill="#F9AB00"
                  />
                  <path
                    d="M21.81,7.1,19.46,9.46a3.59,3.59,0,0,1-5.08,5.08L12,16.9A6.93,6.93,0,0,0,21.81,7.1Z"
                    fill="#E8710A"
                  />
                </g>
              </svg>
              Open in Colab
            </a>
          {{ end }}

          {{/* Article content */}}
          {{ .Content }}


          <div class="article-pagination">
            {{ partial "prev-tutorial" (dict "context" . "level" .Params.level "url" .Permalink) }}
            {{ partial "next-tutorial" (dict "context" . "level" .Params.level "url" .Permalink) }}
          </div>
        </article>

        {{/* Stars/contribute sidebar */}}
        <aside class="right-sidebar">
          {{ partial "github-stars" . }}
          <div class="sidebar-buttons">
            <a
              href="https://github.com/deepset-ai/haystack/tree/master/tutorials"
              class="btn"
              >Edit on Github</a
            >
            <a
              href="https://github.com/deepset-ai/haystack/discussions"
              class="btn"
              >Start a Discussion!</a
            >
          </div>
        </aside>
      </div>
    </div>
  </div>
{{ end }}
