@charset 'utf-8';

/**
 * Abstracts
 */
@import "abstracts/variables", "abstracts/mixins";

/**
 * Base
 */
@import "base/reset", "base/base", "base/fonts", "base/typography";

/**
 * Components
 */
@import "components/header", "components/navigation", "components/article",
  "components/buttons", "components/loader", "components/footer";

/**
 * Pages
 */
@import "pages/index";
