body {
  font-family: var(--font-sans-serif);
}

/**
 * General typography
 */
//  Headings
h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}

h4 {
  font-size: var(--h4-size);
}

h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-heading);
  line-height: var(--line-height-heading);
  color: var(--color-dark-blue);
}

// Text
p,
a,
li,
button {
  font-size: var(--text-body);
  line-height: var(--line-height-base);
}

p, li, small {
  color: var(--color-dark-blue);
}

a {
  transition: color var(--transition-fast) var(--ease);
}

/**
 * Article typography
 */
article {

  h1, h2, h3, h4 {
    word-wrap: break-word;
  }

  h2 {
    margin-top: var(--lg-text-spacing);
  }
  h3 {
    margin-top: var(--md-text-spacing);
  }

  h4,
  p,
  img,
  pre,
  .tabbed-content-js,
  .arrow-button,
  table {
    margin-top: var(--sm-text-spacing);
  }

  a {
    text-decoration: none;
    color: var(--color-blue);
    font-weight: var(--font-weight-links);
  }

  li {
    margin-top: 0.5rem;
  }

  td,
  td > a {
    font-size: var(--font-size-base);
  }
}
