{{ define "main" }}
<div class="error-page">
  <div class="container">
    <div class="inner">
      <div class="text">
        <span>404</span>

        <p>Sorry, the page you were looking for was not found 😔</p>
      </div>

        <div class="buttons">
          {{ partial "arrow-button" (dict "context" . "type" "link" "text" "Back to Homepage" "url" "/" "color" "green") }}
          {{ partial "arrow-button" (dict "context" . "type" "link" "text" "Documentation" "url" "https://docs.haystack.deepset.ai/docs" "color" "green") }}
          {{ partial "arrow-button" (dict "context" . "type" "link" "text" "Haystack Blog" "url" "https://haystack.deepset.ai/blog" "color" "green") }}
        </div>
      </div>
    </div>
  </div>
{{ end }}
