<section id="challenge" class="advent-content challenge">
    <div class="container">
        <div class="links">
            {{ with .Params.discuss }}
                {{ partial "arrow-button" (dict "context" . "type" "link" "text" "Discuss" "url" . "color" "dark-blue"
                "icon"
                "discuss")}}
            {{ end }}

            {{ with .Params.submit }}
                {{ partial "arrow-button" (dict "context" . "type" "link" "text" "Solution" "url" . "color" "green" "icon"
                "submit")}}
            {{ end }}
        </div>

        <article class="challenge-content">
            {{ .Content }}
        </article>
    </div>
</section>