{{/* FAQ section */}}
{{ with .Params.faq }}
<section class="ambassador-faq">
  <div class="container container-padded">
    <div class="inner">
      <h2>{{ .title }}</h2>
      <div class="ambassador-faq-list">
        {{ range .items }}
        <div class="faq-item">
          <h3>{{ .question }}</h3>
          <p>{{ .answer }}</p>
        </div>
        {{ end }}
      </div>
      {{ with .button }}
      <div class="faq-cta">
        {{ partial "arrow-button" (dict "context" . "type" "link" "text" .text "url" .url "color" "deepset-blue") }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
