{{/* Discord & Newsletter cards used in home page & community page */}}

{{/* Discord card */}}
<div class="discord-card">
  <img src="{{ .community.discord.icon }}" alt="Discord" />
  <h3>{{ .community.discord.title }}</h3>
  {{ with .community.discord.text}}
    <p>{{ . }}</p>
  {{ end }}
  <div class="button-container">
    {{ range .community.discord.buttons }}
      {{ partial "arrow-button" (dict "context" . "type" "link" "text" .buttonText "url" .url) }}
    {{ end }}
  </div>
</div>

{{/* Newsletter card */}}
<div class="newsletter-card">
  <img src="{{ .community.newsletter.icon }}" alt="Newsletter" />
  <h3>{{ .community.newsletter.title }}</h3>
  {{ with .community.newsletter.text}}
    <p>{{ . }}</p>
  {{ end }}

  <form
    class="js-newsletter-form disabled"
    aria-label="Subscribe to our newsletter"
  >
    <input
      type="email"
      name="email"
      placeholder="{{ .community.newsletter.inputPlaceholder }}"
      aria-label="Email"
    />
    {{ partial "arrow-button" (dict "context" . "type" "submitButton" "text" .community.newsletter.buttonText) }}
    <span class="success-message">Thanks!</span>
  </form>
</div>
