{{/* Open NLP Meetup section on the Community page */}}
{{ with .Params.MeetupSection }}
  <section class="community-meetup" {{ if .anchor }} id="{{ .anchor }}" {{ end }}>
    <div class="container container-padded">
      <div class="inner">
        <h2>{{ .title }}</h2>
        <p>{{ .text }}</p>
        {{ partial "arrow-button" (dict "context" . "type" "link" "text" .buttonText "url" .url) }}


        <div class="video-grid">
          {{ range .videos }}
            <div class="video">
              {{ partial "consent-embed" (dict "service" "youtube" "id" .) }}
            </div>
          {{ end }}
         
        </div>
      </div>
    </div>
  </section>
{{ end }}
