{{/* Upcoming Events */}}
{{ with .Params.eventsSection }}
<section class="upcoming-events" {{ if .anchor }} id="{{ .anchor }}" {{ end }}>
    <div class="container container-padded">
    <div class="upcoming-events">
        <h2>{{ .title }}</h3>
            <p>{{ .text }}</p>
            {{ partial "arrow-button" (dict "context" . "type" "link" "text" .buttonText "url" .url) }}
            
            <div class="luma-embed">
                {{ partial "consent-embed" (dict "service" "luma" "height" "450" "width" "100%" "style" "border: 2px solid #01AE9D; border-radius: 4px") }}
            </div>
    </div>
</div>
</section>
{{ end }}