{{/* Upcoming Events */}}
{{ with .Params.eventsSection }}
<section class="upcoming-events" {{ if .anchor }} id="{{ .anchor }}" {{ end }}>
    <div class="container container-padded">
    <div class="upcoming-events">
        <h2>{{ .title }}</h3>
            <p>{{ .text }}</p>
            {{ partial "arrow-button" (dict "context" . "type" "link" "text" .buttonText "url" .url) }}
            
            <div class="luma-embed">
                <iframe
                    src="https://lu.ma/embed/calendar/cal-O155CdRencJk5U2/events?lt=light"
                    width="100%"
                    height="450"
                    frameborder="0"
                    style="border: 2px solid #01AE9D; border-radius: 4px;"
                    allowfullscreen=""
                    aria-hidden="false"
                    tabindex="0"
                    ></iframe>
            </div>
    </div>
</div>
</section>
{{ end }}