{{/*  Github most active contributors  */}}

{{ $accessToken := getenv "GITHUB_ACCESS_TOKEN" }}

{{ with $accessToken }}
  {{/* Authorization */}}
  {{ $auth := (dict "Authorization" (printf "Bearer %s" $accessToken)) }}

  {{/* Fetch Top Contributors */}}
  {{ $URL := "https://api.github.com/repos/deepset-ai/haystack/contributors?per_page=10" }}
  {{ $data := getJSON $URL $auth }}


  {{/*  List contributors  */}}
  <ul role="list" class="top-contributors-container-js">
    {{ range $data }}
      <li>
        <img src="{{ .avatar_url }}" alt="{{ .login }}" />
        <span>{{ .login }}</span>
        <span>{{ .contributions }} contributions</span>
      </li>
    {{ end }}
  </ul>
{{ end }}
