<div class="hacktoberfest-content">

    <!-- <div class="hacktoberfest-events">
        <div class="container">
            <h2>Events</h2>
            <div class="events-container">
                {{ range .Params.events }}
                    {{ $eventDate := dateFormat "2006-01-02" .date }}
                        <div class="events-card {{ with .alt }}alt-card{{ end }}">
                            <img src="{{ .image }}" alt="{{ .title }}">
    
                            <div class="content-section">
                                <h3>{{ .title | markdownify }}</h3>
                                <div class="details">
                                    <span class="date">{{ dateFormat "02" .date | humanize }} {{ dateFormat "Jan 2006" .date
                                        }}</span>
                                    <span class="time">{{ .time }}</span>
                                    <span class="location">{{ .location }}</span>
                                </div>
    
                                <p>{{ .description | markdownify }}</p>
                                {{ partial "arrow-button" (dict "context" . "type" "link" "text" .buttonText "url" .url) }}
                            </div>
                        </div>
                {{ end }}
            </div>
        </div>
    </div> -->

    <!-- <div class="hacktoberfest-helpful-content">
        <div class="container ">
            <h2>Helpful Content</h2>
            <div class="helpful-content-container">
                {{range .Params.helpfulContent.list}}
                <a href="{{ .RelPermalink }}" class="blog-card blog-card-featured">
                    {{/* Image */}}
                    <div class="blog-card-image">
                        {{ if .featured_image }}
                        <img src="{{.Permalink}}{{ .featured_image }}" alt="{{ .title }}" loading="lazy" />
                        {{ else }}
                        <img src="/images/hero-bg.jpg" alt="{{ .title }}" loading="lazy" />
                        {{ end }}
                    </div>
    
                    {{/* Content */}}
                    <div class="blog-card-content">
                        {{/* Tags */}}
                        <div class="blog-card-tags">
                            {{ range .tags }}
                            <div class="tag">
                                {{ . }}
                            </div>
                            {{ end }}
                        </div>
    
                        {{/* Authors */}}
                        <div class="blog-card-authors">
                            {{ range .authors }}
                            {{ with $.Site.GetPage "taxonomy" (printf "authors/%s" (urlize .)) }}
                            <div>
                                {{/* Author image */}}
                                <div class="author-image">
                                    {{ if .Params.image }}
                                    <img src="{{ .Params.image }}" alt="{{ .Params.name }}" />
                                    {{ else }}
                                    <img src="/images/user-placeholder.jpg" alt="{{ .Params.name }}" />
                                    {{ end }}
                                </div>
    
                                {{/* Author name & position */}}
                                <div class="author-info">
                                    <span class="name">{{ .Params.title }}</span>
                                    <span class="position">{{ .Params.position }}</span>
                                </div>
                            </div>
                            {{ end }}
                            {{ end }}
                        </div>
    
                        {{/* Title */}}
                        <h2>{{ .title }}</h2>
    
                        {{/* Description */}}
                        <p>{{ .description }}</p>
    
                        {{/* Date */}}
                        <span class="date">{{ .date | time.Format ":date_long" }}</span>
    
                    </div>
                </a>
                {{ end }}
            </div>
        </div>
    </div> -->
</div>