<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  {{/* Opengraph */}}
  {{ partial "opengraph" . }}

  {{/* Stylesheet */}}
  {{ $style := resources.Get "/sass/main.scss" | resources.ToCSS | resources.PostCSS  (dict "config" "./postcss.config.js") |
    resources.Minify | resources.Fingerprint
  }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" />

  <title>{{ .Title | plainify }} | {{ .Site.Title }}</title>


  <link href="https://www.googletagmanager.com" rel="preconnect" crossorigin>
  <link rel="dns-prefetch" href="https://www.googletagmanager.com">

  {{/*  Google Tag Manager  */}}
  {{ partial "gtag-head" . }}
</head>
