<section class="index-hero">
  <div
    class="hero-img"
    style="background-image:url({{ .Params.hero.image }})"
  ></div>

  <div class="container container-padded">
    <div class="inner hero-inner">
      <div class="hero-text">
        {{/* Title & Subtitle */}}
        <h1>{{ .Params.hero.title }}</h1>
        <p>{{ .Params.hero.subtitle }}</p>

        {{/* Bullet points */}}
        <ul class="hero-list" role="list">
          {{ range .Params.hero.bulletPoints }}
            <li>
              <span><img src="/images/icons/check.svg" /></span>{{ . }}
            </li>
          {{ end }}
        </ul>

        {{/* Buttons */}}
        <div class="button-outer-container">
          <div class="button-container">
            {{ range .Params.hero.buttons }}
              {{ partial "arrow-button" (dict "context" . "type" "link" "text" .buttonText "url" .url) }}
            {{ end }}
          </div>
          {{ partial "github-stars" . }}
        </div>
      </div>
    </div>
  </div>
</section>
