{{/*  Homepage Github section  */}}
<section class="index-github" {{ if .Params.github.anchor }} id="{{ .Params.github.anchor }}" {{ end }}>
  <div class="top-section">
    <div class="container container-padded">
      <div class="inner">
        {{/* Title / buttons */}}
        <div class="text-section">
          <h2>{{ .Params.github.title }}</h2>

          <div class="button-container">
            {{ range .Params.github.buttons }}
              {{ partial "arrow-button" (dict "context" . "type" "link" "text" .buttonText "url" .url) }}
            {{ end }}
          </div>
        </div>

        {{/* Stars / contributors */}}
        {{ partial "github-stats.html" . }}
      </div>
    </div>
  </div>

  <!-- {{/* Top contributors */}}
  <div class="bottom-section">
    <div class="container">
      <div class="inner">
        <h3>{{ .Params.github.contributors.title }}</h3>

        {{ partial "github-top-contributors.html" . }}
      </div>
    </div>
  </div> -->
</section>
