<section class="index-github">
  <div class="top-section">
    <div class="container">
      <div class="inner">
        {{/* Title / buttons */}}
        <div class="text-section">
          <h2>{{ .Params.github.title }}</h2>

          <div class="button-container">
            {{ range .Params.github.buttons }}
              {{ partial "arrow-button" (dict "context" . "type" "link" "text" .buttonText "url" .url) }}
            {{ end }}
          </div>
        </div>

        {{/* Stars / contributors */}}
        <ul class="stats-boxes" role="list">
          <li>
            <span class="github-stars-js">
              {{ partial "loader" . }}
            </span>
            <span>Stars</span>
          </li>
          <li>
            <span class="github-contributors-js">
              {{ partial "loader" . }}
            </span>
            <span>Contributors</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  {{/* Top contributors */}}
  <div class="bottom-section">
    <div class="container">
      <div class="inner">
        <h3>{{ .Params.github.contributors.title }}</h3>

        <ul role="list" class="top-contributors-container-js">
          {{ partial "loader" . }}
        </ul>
      </div>
    </div>
  </div>
</section>
