<div class="index-features">
  <div class="index-features-cards">
    <div class="container">
      <h2>{{ .Params.hero.features.title | safeHTML }}</h2>
    </div>

    <div class="container">

      <div class="feature-grid">
        {{ range .Params.hero.features.items }}
        <div class="feature-item">
          <img src="{{ .icon }}" alt="" />
          <h3>{{ .title | safeHTML }}</h3>
          <p>{{ .text | markdownify }}</p>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>