{{/* Desktop navigation */}}
<nav class="nav desktop-nav">
  <ul role="list">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      {{/* If nav item has children, add a dropdown menu */}}
      {{ if .HasChildren }}
        <li class="dropdown-menu">
          {{ with .Params.tag }}
            <span class="menu-item-tag">{{ . }}</span>
          {{ end }}

          {{ $childSlice := slice }}
          {{ range .Children }}
            {{ $childSlice = $childSlice | append .Name }}
          {{ end }}

          <a
            href="#"
            class="dropdown-button {{ if in $childSlice $currentPage.Name }}
              active
            {{ end }}"
          >
            {{ .Name }}
          </a>

          <ul class="sub-menu" role="list">
            {{ range .Children }}
              <li
                class="{{ if (in $currentPage.RelPermalink .URL) }}
                  active
                {{ end }}"
              >
                <a
                  class="btn arrow-link"
                  href="{{ .URL }}"
                  {{ if strings.HasPrefix .URL "http" }}
                    target="_blank" rel="noopener"
                  {{ end }}
                >
                  <div class="button-wrapper">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16px"
                      height="16px"
                      viewBox="0 0 13 14"
                      role="presentation"
                      focusable="false"
                      class="button-arrow first"
                    >
                      <path
                        d="M6.33.8a.43.43 0 01.61 0l5.93 6.05c.09.09.13.21.13.32 0 .11-.04.23-.13.31l-5.93 6.05a.43.43 0 01-.61 0L5.31 12.5a.44.44 0 010-.62L8.62 8.5c.05-.06.02-.15-.06-.15H.43A.44.44 0 010 7.91V6.44C0 6.2.19 6 .43 6h8.14c.08 0 .12-.09.06-.15L5.31 2.46a.44.44 0 010-.62L6.33.8z"
                        fill="#2b2f55"
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                    <div class="text-wrapper">
                      {{ with .Params.tag }}
                        <span class="menu-item-tag">{{ . }}</span>
                      {{ end }}

                      {{ .Name }}
                    </div>
                  </div>
                </a>
              </li>
            {{ end }}
          </ul>
        </li>
      {{ else }}
        {{/* If no children, add a link */}}
        <li>
          <a
            href="{{ .URL }}"
            class="{{ if (in $currentPage.RelPermalink .URL) }}active{{ end }}"
            {{ if strings.HasPrefix .URL "http" }}
              target="_blank" rel="noopener"
            {{ end }}
            >
            {{ with .Params.tag }}
              <span class="menu-item-tag">{{ . }}</span>
            {{ end }}
            
            {{ .Name }}</a
          >
        </li>
      {{ end }}
    {{ end }}

    {{/* Get started button */}}
    {{ partial "arrow-button" (dict "context" . "type" "link" "text" "Get Started" "url" "/overview/quick-start" "color" "green") }}
  </ul>
</nav>
