{{/*  Fetches top 6 community members from the Orbit API  */}}

{{/*  Get API key  */}}
{{ $apiKey := getenv "ORBIT_API_KEY" }}

{{ with $apiKey }}
    {{/*  Get today & last month dates  */}}
    {{ $today := now.Format "2006-01-02"}}
    {{ $aMonthAgo := now.AddDate 0 -1 0 | time.Format "2006-01-02" }}

    {{/*  Add dates to Orbit API url  */}}
    {{ $url := printf "https://app.orbit.love/api/v1/deepset/members?affiliation=member&start_date=%s&end_date=%s&items=6&sort=activities_count" $aMonthAgo $today }}

    {{/*  Add authorization header and fetch data  */}}
    {{ $data := getJSON $url (dict "Authorization" (printf "Bearer %s" $apiKey))  }}

    {{/*  Map the data  */}}
    {{ range $i, $d := $data.data }}
        <li>
            <img src="{{ .attributes.avatar_url }}" onerror="this.onerror=null;this.src='/images/user-placeholder.jpg';">
            <p>{{ with .attributes.name }}{{ . }}{{ else }}{{ .attributes.github }}{{ end }}</p>
        </li>
    {{ end }}
{{ end }}