{{/* Hero used in the Tutorials, Cookbooks, Blog, and Author pages */}}
<div class="page-hero">
  <div class="container container-padded">
    <section class="hero-heading">
      {{ if or (eq .Type "authors") (eq .Type "tags") }}
        <h1>Haystack Blog</h1>
        <p>Articles about Haystack, NLP, LLMs and open source tools.</p>
      {{ else }}
        {{/* Regular page hero */}}
        <h1>{{ .Params.title }}</h1>
        <p>{{ .Params.subtitle | markdownify }}</p>
      {{ end }}
    </section>

    {{ if or (eq .Type "integrations") (eq .Type "tutorials") (eq .Type "cookbook") }}
        {{ partial "contribute-button" . }}
    {{ end }}
  </div>
</div>
