{{ $adventPages := sort (.GetPage "/spring-into-haystack").Pages "Params.day" }}
{{ range $adventPages }}
<section id="challenge" class="advent-content spring">
    <div class="container">
        <div class="links">
            {{ with .Params.discuss }}
                {{ partial "arrow-button" (dict "context" . "type" "link" "text" "Discuss" "url" . "color" "dark-blue"
                "icon"
                "discuss")}}
            {{ end }}

            {{ with .Params.submit }}
                {{ partial "arrow-button" (dict "context" . "type" "link" "text" "Submit" "url" . "color" "green" "icon"
                "submit")}}
            {{ end }}

            {{ if .Params.solution }}
                {{ partial "arrow-button" (dict "context" . "type" "link" "text" "Solution" "url" .Params.solution_url "color" "yellow" "icon"
                "star")}}
            {{ end }}
        </div>

        <article class="challenge-content">
            {{ .Content }}
        </article>
    </div>
</section>
{{ end }}