{{/*  Tutorial page sidebar  */}}
<aside class="toc-sidebar">
  <div class="accordions">
    {{ $currentPage := . }}
    {{ $tutorials := where  (.GetPage "/tutorials").Pages "Params.hidden" "!=" true }}

    {{/* Beginner */}}
    <details
      class="accordion-js"
      {{ if eq .Params.level "beginner" }}open{{ end }}
    >
      <summary class="accordion-title">
        <div class="accordion-title-child">Beginner</div>
      </summary>
      <ul class="content" role="list">
        {{ range where $tutorials ".Params.level" "beginner" }}
          <li>
            {{ if (eq $currentPage.RelPermalink .RelPermalink) }}
              <details class="accordion-js accordion-child" open>
                <summary class="accordion-title">
                  <span>
                    {{ .Params.title }}
                    {{ with .Params.haystack_2 }}
                      <span class="beta-tag">2.0-beta</span>
                    {{ end }}
                  </span>
                </summary>
                {{if .Params.toc}}
                  <div class="content">
                    {{/* Page TOC */}}
                    {{ .TableOfContents }}
                  </div>
                {{ end }}
              </details>
            {{ else }}
              <a
                class="tutorial-card category-{{ lower .Params.category }}"
                href="{{ .RelPermalink }}"
              >
                <span>
                  {{ .Params.title }}
                  {{ with .Params.haystack_2 }}
                    <span class="beta-tag">2.0-beta</span>
                  {{ end }}
                </span>
              </a>
            {{ end }}
          </li>
        {{ end }}
      </ul>
    </details>

    {{/* Intermediate */}}
    <details
      class="accordion-js"
      {{ if eq .Params.level "intermediate" }}open{{ end }}
    >
      <summary class="accordion-title">
        <div class="accordion-title-child">Intermediate</div>
      </summary>
      <ul class="content" role="list">
        {{ range where $tutorials ".Params.level" "intermediate" }}
          <li>
            {{ if (eq $currentPage.RelPermalink .RelPermalink) }}
              <details class="accordion-js accordion-child" open>
                <summary class="accordion-title">
                  <span>
                    {{ .Params.title }}
                    {{ with .Params.haystack_2 }}
                      <span class="beta-tag">2.0-beta</span>
                    {{ end }}
                  </span>
                </summary>
                {{if .Params.toc}}
                  <div class="content">
                    {{/* Page TOC */}}
                    {{ .TableOfContents }}
                  </div>
                {{ end }}
              </details>
            {{ else }}
              <a
                class="tutorial-card category-{{ lower .Params.category }}"
                href="{{ .RelPermalink }}"
              >
                <span>
                  {{ .Params.title }}
                  {{ with .Params.haystack_2 }}
                    <span class="beta-tag">2.0-beta</span>
                  {{ end }}
                </span>
              </a>
            {{ end }}
          </li>
        {{ end }}
      </ul>
    </details>

    {{/* Advanced */}}
    <details
      class="accordion-js"
      {{ if eq .Params.level "advanced" }}open{{ end }}
    >
      <summary class="accordion-title">
        <div class="accordion-title-child">Advanced</div>
      </summary>
      <ul class="content" role="list">
        {{ range where $tutorials ".Params.level" "advanced" }}
          <li>
            {{ if (eq $currentPage.RelPermalink .RelPermalink) }}
              <details class="accordion-js accordion-child" open>
                <summary class="accordion-title">
                  <span>
                    {{ .Params.title }}
                    {{ with .Params.haystack_2 }}
                      <span class="beta-tag">2.0-beta</span>
                    {{ end }}
                  </span>
                </summary>
                
                {{if .Params.toc}}
                  <div class="content">
                    {{/* Page TOC */}}
                    {{ .TableOfContents }}
                  </div>
                {{ end }}
              </details>
            {{ else }}
              <a
                class="tutorial-card category-{{ lower .Params.category }}"
                href="{{ .RelPermalink }}"
              >
                <span>
                  {{ .Params.title }}
                  {{ with .Params.haystack_2 }}
                    <span class="beta-tag">2.0-beta</span>
                  {{ end }}
                </span>
              </a>
            {{ end }}
          </li>
        {{ end }}
      </ul>
    </details>
  </div>
</aside>
