/**
 * Tutorial article
 */

.overview,
.tutorial,
.blog-post {
  display: grid;
  grid-template-columns: 1fr;

  @include md {
    grid-template-columns: 15rem 1fr;
    gap: 2rem;
  }
}

.tutorial {
  @include lg {
    grid-template-columns: 15rem 1fr 12rem;
    gap: 2rem;
  }
}

.article-content {
  overflow: hidden;
}

.blog-post-content {
  overflow: hidden;

  img {
    margin: auto;
  }
}

.blog-post-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include lg {
    flex-direction: row;
    gap: 4rem;
  }

  .featured-image {
    border-radius: var(--border-radius-md);
    overflow: hidden;
    width: 100%;
    height: 20rem;

    @include lg {
      height: 17rem;
      max-width: 30rem;
      order: 2;
    }

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin-top: 0;
    }
  }

  .blog-post-title {
    width: 100%;

    p,
    .article-date {
      color: var(--color-dark-grey);
    }

    @include lg {
      order: 1;
    }
  }
}

// Left sidebar / TOC
.toc-sidebar {
  display: none;

  @include md {
    display: block;
    width: 100%;
    border-right: 2px solid var(--color-light-grey);
    padding: 1rem 2rem 1rem 0;
    position: sticky;
    top: 0;
    overflow-y: auto;
    max-height: 100vh;
    flex-shrink: 0;

    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      background: var(--color-bg-light-grey);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--color-light-grey);
    }

    .accordions {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

    .accordion-title {
      display: flex;
      gap: 0.25rem;
      position: relative;
      opacity: 1;
      border: none;
      outline: none;
      font-size: var(--text-body);
      font-weight: var(--font-weight-heading);
      color: var(--color-medium-grey);
      user-select: none;
      cursor: pointer;
      transition: opacity var(--transition-fast) var(--ease);

      .accordion-title-child {
        display: flex;
        gap: 0.25rem;

        &::after {
          content: url("/images/icons/caret.svg");
          padding-top: 0.125rem;
          width: 1rem;
          transform: rotate(-90deg);
        }
      }
    }

    details[open] .accordion-title-child::after {
      transform: rotate(0deg);
    }

    summary {
      display: flex !important;
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-top: 0.5rem;
    }

    a {
      text-decoration: none;
      color: var(--color-medium-grey);
      font-weight: var(--font-weight-links);
    }

    a.active {
      color: var(--color-dark-blue);
    }

    // Inner accordian
    .accordion-child {
      .accordion-title {
        color: var(--color-dark-blue);
        font-weight: var(--font-weight-links);

        &::after {
          display: none;
        }
      }

      .content {
        border-left: 2px solid var(--color-light-grey);
      }
    }
  }

  // Page TOC
  #TableOfContents {
    ul {
      list-style: none;
      padding: 0 0 0.5rem 0.75rem;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      opacity: 1;

      li {
        line-height: 1.15;
      }

      a {
        font-size: var(--text-base);
        line-height: 1.15;

        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}

// Right sidebar
.right-sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;

  .sidebar-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    .btn {
      width: 100%;
      background-color: var(--color-white);
      color: var(--color-medium-grey);
      font-size: var(--text-base);
      border: 2px solid var(--color-medium-grey);
      text-align: center;
      transition: all var(--transition-fast) var(--ease);

      &:hover {
        border: 2px solid var(--color-yellow);
        color: var(--color-blue);
        filter: var(--shadow-filter);
      }
    }
  }

  @include md {
    grid-column: 2;

    .sidebar-buttons {
      flex-wrap: nowrap;
    }
  }

  @include lg {
    grid-column: 3;
    width: 100%;
    position: sticky;
    top: 0;
    align-self: flex-start;
    flex-shrink: 0;
    // border-left: 2px solid var(--color-light-grey);
    padding: 1rem 0 0 0;
    margin-top: 0;

    .sidebar-buttons {
      flex-direction: column;
    }
  }
}

// Blog post sidebar
.blog-post-sidebar {
  display: none;
  align-self: flex-start;

  @include md {
    display: block;
  }

  .toc-heading {
    display: block;
    margin-bottom: 0.5rem;
    font-size: var(--text-body);
    color: var(--color-dark-grey);
  }

  #TableOfContents > ul {
    padding: 0;
  }
}

// Blog post authors
.blog-post-authors {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;

  @include md {
    margin-top: 0;
    margin-bottom: 2rem;
  }

  .author-container > a {
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 0.75rem;
    font-weight: var(--font-weight-base);
    text-decoration: none;

    // Image
    .author-image {
      width: 5rem;
      height: 5rem;
      border-radius: var(--border-radius-md);
      overflow: hidden;
      flex-shrink: 0;

      > img {
        object-fit: cover;
      }
    }

    // Name & position
    .author-info {
      .name {
        display: block;
        color: var(--color-dark-blue);
        font-weight: var(--font-weight-links);
      }

      .position {
        display: block;
        color: var(--color-dark-grey);
      }
      font-size: var(--text-base);
    }
  }

  .socials {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.75rem;
    margin-top: 0.75rem;

    > a {
      width: 1.5rem;
      height: 1.5rem;

      > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

// Blog post authors mobile (under blog post)
.blog-post-authors-sm {
  border-top: 2px solid var(--color-light-grey);
  margin-top: 2rem;
  @include md {
    display: none;
  }
}

// Next / Prev links
.article-pagination {
  margin-top: var(--md-text-spacing);
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;

  .next-article {
    margin-left: auto;
  }

  @include md {
    flex-wrap: nowrap;
  }

  > div > a {
    gap: 0.5rem;
    width: 100%;
    background-color: var(--color-white);
    color: var(--color-medium-grey);
    border: 2px solid var(--color-medium-grey);
    text-align: center;
    transition-property: border-color, color, filter, -webkit-filter, fill;
    transition-duration: var(--transition-fast);
    transition-timing-function: var(--ease);

    > svg {
      fill: var(--color-medium-grey);
      transition: fill var(--transition-fast) var(--ease);
      flex-shrink: 0;
    }

    &:hover {
      border: 2px solid var(--color-yellow);
      color: var(--color-blue);
      filter: var(--shadow-filter);

      > svg {
        fill: var(--color-blue);
      }
    }
  }
}

// Tabbed content
.tabbed-content-js {
  display: flex;
  flex-direction: column;

  .tabs {
    display: flex;
    gap: 0.5rem;

    .tablink {
      background-color: var(--color-light-grey);
      border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;
      padding: 0.5rem 1rem;
      cursor: pointer;
      color: var(--color-dark-blue);

      &.active {
        background-color: var(--color-bg-light-grey);
      }
    }
  }

  .tab-pane {
    display: none;
    background-color: var(--color-bg-light-grey);
    border-radius: 0 var(--border-radius-md) var(--border-radius-md)
      var(--border-radius-md);
    padding: 0.05rem 1rem 1rem 1rem;

    &.active {
      display: block;
    }

    pre {
      background-color: var(--color-white) !important;
    }
  }
}

// Videos
video.responsive {
  display: block;
  width: 100%;
}

.styled-table {
  width: 100%;
  overflow: auto;

  table {
    min-width: 45rem;
    border-collapse: collapse;

    thead tr {
      background-color: var(--color-bg-dark-blue);
      color: var(--color-white);
      text-align: left;
    }

    th,
    td {
      padding: 1rem;
    }

    tbody tr {
      border-bottom: 1px solid var(--color-light-grey);
    }

    tbody tr:nth-of-type(even) {
      background-color: var(--color-bg-light-grey);
    }

    tbody tr:last-of-type {
      border-bottom: 2px solid var(--color-bg-dark-blue);
    }
  }
}

// Article date
.article-date {
  display: block;
  margin: 1rem 0;
}

// Google chart
.article-content .google-chart {
  min-height: 25rem;

  &:not(:last-of-type) {
    margin-bottom: 5rem;
  }
}

// Blockquotes
blockquote {
  background: var(--color-bg-light-grey);
  border-left: 0.5rem solid var(--color-blue);
  padding: 1rem;
  margin-top: var(--sm-text-spacing);

  p {
    margin-top: 0;
  }
}
