// Mobile nav toggle
button.nav-toggle {
  background: none;
  border: none;
  display: flex;
  cursor: pointer;

  svg path {
    stroke: var(--color-medium-grey);
    transition: stroke var(--transition-fast) var(--ease);
  }

  &:hover {
    svg path {
      stroke: var(--color-dark-blue);
    }
  }

  .nav-toggle-close svg {
    width: 1.5rem;
  }
}

button.nav-toggle-open {
  @include md {
    display: none;
  }
  svg {
    width: 1.5rem;
  }
}

button.nav-toggle-close {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  padding: 0.5rem;
  svg {
    width: 0.75rem;
  }
}

// Arrow button
.arrow-button {
  display: inline-block;
  background-color: var(--color-green);
  color: var(--color-white);
  text-decoration: none;
  font-weight: var(--font-weight-heading);
  padding: 0.375rem 0.8125rem 0.3125rem;
  border-radius: 2px;
  overflow: hidden;
  

  .button-wrapper {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-left: -1.7rem;

    svg {
      width: 0.8125rem;
    }

    svg, .text-wrapper {
      transition: transform var(--transition-fast) var(--ease);
    }
  }

  &:hover {
    .button-wrapper{
      svg, .text-wrapper {
        transform: translate3d(1.7rem, 0px, 0px);
      }
    }
  }

}