// Mobile nav toggle
button.nav-toggle {
  background: none;
  border: none;
  display: flex;
  cursor: pointer;

  svg path {
    stroke: var(--color-medium-grey);
    transition: stroke var(--transition-fast) var(--ease);
  }

  &:hover {
    svg path {
      stroke: var(--color-dark-blue);
    }
  }

  .nav-toggle-close svg {
    width: 1.5rem;
  }
}

button.nav-toggle-open {
  @include md {
    display: none;
  }
  svg {
    width: 1.5rem;
  }
}

button.nav-toggle-close {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  padding: 0.5rem;
  svg {
    width: 0.75rem;
  }
}

// Arrow button
.arrow-button,
.arrow-link {
  display: inline-block;
  text-decoration: none;
  font-weight: var(--font-weight-heading);
  cursor: pointer;

  .button-wrapper {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-left: -1.7rem;

    svg {
      width: 0.8125rem;
    }

    svg,
    .text-wrapper {
      transition: all var(--transition-fast) var(--ease);
      flex-shrink: 0;
    }
  }

  &:hover {
    .button-wrapper {
      svg,
      .text-wrapper {
        transform: translate3d(1.7rem, 0px, 0px);
      }
    }
  }
}

.arrow-button {
  overflow: hidden;
  background-color: var(--color-green);
  padding: 0.375rem 0.8125rem 0.3125rem;
  color: var(--color-white);
  border-radius: 2px;
}

.arrow-link {
  overflow: visible;

  .button-wrapper {
    margin-right: 1.7rem;
    svg {
      opacity: 0;
    }
  }

  &:hover {
    .button-wrapper {
      svg {
        opacity: 1;
      }
    }
  }
}

// button container
.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 0.5rem;
}
