.github-issues {
  background-color: var(--color-light-grey);

  .container {
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include md {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }

  .issue-table {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    margin-top: 2rem;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;

    .issue {
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      padding: 0.75rem 1rem;
      text-decoration: none;
      border-radius: var(--border-radius-sm);

      // &.closed {
      //   opacity: 0.6;
      // }

      @include lg {
        flex-direction: row;
        border-radius: 999px;
      }

      &:hover {
        box-shadow: inset 0px 0px 0px 2px #43ab9d;
      }

      .issue-title-container {
        width: 100%;
        gap: 1rem;

        @include lg {
          width: 70%;
          flex-shrink: 0;
        }
      }

      .issue-title {
        font-size: 1rem;
        flex-shrink: 0;
        margin-right: 0.5rem;
        display: inline;

        @include lg {
          font-size: 1.125rem;
        }
      }

      .issue-labels {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 0.25rem;

        > span {
          border-radius: 999px;
          padding: 0.25rem 0.5rem;
          font-size: 0.75rem;
        }
      }

      .issue-repo-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        align-items: center;
        justify-content: space-between;
        flex-shrink: 0;
        margin-top: 1rem;

        @include lg {
          flex-wrap: nowrap;
          width: 30%;
          padding-left: 1rem;
          margin-top: 0;
        }
      }

      .issue-repo {
        flex-shrink: 0;
        color: var(--color-medium-grey);
        font-size: 1rem;
        max-width: 100%;
        word-break: break-word;

        > span {
          color: var(--color-dark-blue);
        }

        @include lg {
          max-width: 70%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .issue-state {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var(--color-medium-grey);
        font-size: 1rem;

        > span.closed,
        > span.open {
          border-radius: 999px;
          width: 1.5rem;
          height: 1.5rem;
          display: block;
          flex-shrink: 0;
        }

        > span.closed {
          background-color: red;
        }

        > span.open {
          background-color: green;
        }
      }
    }

    .loading {
      width: 100%;
      height: 54px;
      background-color: #fff;
      border-radius: var(--border-radius-sm);
      animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
      border-radius: var(--border-radius-sm);

      @include lg {
        border-radius: 999px;
      }
    }
  }
}

.hacktoberfest-content {
  .container {
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include md {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    > h2 {
      text-align: center;
    }
  }

  .hacktoberfest-events {
    background-color: #9090b2;

    .events-container {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
      margin-top: 2rem;

      @include md {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 62.5rem;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .events-card p {
      font-size: var(--text-small);
    }
  }

  .hacktoberfest-helpful-content {
    background-color: var(--color-light-grey);

    .helpful-content-container {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
      margin-top: 2rem;

      > .blog-card {
        grid-column-start: unset;
        grid-column-end: unset;
      }

      @include md {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

.hacktoberfest-coming-soon {
  background-color: var(--color-light-grey);

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    padding-top: 2rem;
    padding-bottom: 2rem;

    @include md {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    > p {
      max-width: 16rem;
      text-align: center;
      font-weight: 600;
      color: var(--color-dark-grey);
    }
  }

  .github-logo {
    width: 100%;
    max-width: 5rem;

    @include md {
      max-width: 7rem;
    }
  }
}
