.site-header {
  position: relative;
  padding: var(--header-padding) 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .site-title > svg {
      display: block;
      width: 100%;
      height: 3rem;
    }
  }
}
