.site-header {
  padding: var(--header-padding) 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .site-title > svg {
      display: block;
      width: 100%;
      height: 3rem;
    }

    // Mobile nav toggle
    button.nav-toggle {
      background: none;
      border: none;
      display: flex;
      cursor: pointer;

      svg {
        width: 1.5rem;
        path {
          stroke: var(--color-medium-grey);
          transition: stroke var(--transition-fast) var(--ease);
        }
      }

      &:hover {
        svg path {
          stroke: var(--color-dark-blue);
        }
      }

      @include md {
        display: none;
      }
    }
  }
}
