.loader {
  display: inline-block;
  position: relative;
  width: 4rem;
  height: 4rem;
}

.loader span {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;
  border: 0.25rem solid #fff;
  border-radius: 50%;
  animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--color-dark-grey) transparent transparent transparent;
}

.loader span:nth-child(1) {
  animation-delay: -0.45s;
}

.loader span:nth-child(2) {
  animation-delay: -0.3s;
}

.loader span:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
