.error-page .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;

    .text {
        > span {
            display: block;
            font-size: var(--h1-size);
            line-height: 1.2;
            text-align: center;
        }

        > p {
            text-align: center;
        }
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.75rem;

        .btn {
            transform: scale(0.85);
        }
    }
}