// Blog listing page
.blog-list-content {
  background-color: var(--color-bg-light-grey);

  .section-title {
    margin-bottom: 1rem;
  }

  .not-found {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
  }

  .sidebar-toggle {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 3.25rem;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 0 1rem;
    border: 1px solid var(--color-light-grey);
    border-radius: var(--border-radius-sm);
    line-height: 1.25rem;
    font-size: var(--text-small);
    color: var(--color-dark-blue);
    overflow: visible;
    background-color: var(--color-white);
    text-align: left;

    @include sm {
      display: none;
    }
  }
}

.blog-grid-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;

  @include sm {
    flex-direction: row;
  }

  &.release-notes {
    display: block;
  }

  .blog-sidebar {
    position: fixed;
    inset: 0px;
    z-index: 9999;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;

    @include sm {
      position: sticky;
      top: 0.75rem;
      display: block;
      width: 100%;
      max-width: 13.5rem;
      flex-shrink: 0;
      align-self: flex-start;
      max-height: calc(100vh - 1.5rem);
      overflow-y: auto;
      pointer-events: auto;
      background-color: transparent;
      opacity: 1;
    }

    #topic-select {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      background-color: var(--color-white);
      padding: 1rem;
      border-radius: var(--border-radius-sm);
      transition: transform 0.3s ease;
      width: 70%;
      height: 100vh;
      overflow-y: auto;
      position: absolute;
      transform: translateX(-100%);

      @include sm {
        width: 100%;
        height: auto;
        position: relative;
        transform: translateX(0);
      }

      .topic-select-child {
        display: flex;
        gap: 0.25rem;
        align-items: baseline;
        line-height: 1.2;
        user-select: none;

        > label,
        > input {
          cursor: pointer;
        }

        > input {
          transform: translateY(1px);
        }
      }

      .topic-confirm {
        margin-top: 0.5rem;
        flex-shrink: 0;
        @include sm {
          display: none;
        }
      }
    }

    &.active {
      pointer-events: auto;
      background-color: rgba(0, 0, 0, 0.7);
      opacity: 1;
      #topic-select {
        transform: translateX(0);
      }
    }

    .sidebar-close-btn {
      position: absolute;
      top: 1rem;
      right: 1rem;
      appearance: none;
      background-color: transparent;
      border: none;
      z-index: 9999;

      > svg {
        width: 1rem;
        height: 1rem;
        pointer-events: none;
      }
    }
  }
}

// Grid
.blog-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;

  @include lg {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
// Blog post card
.blog-card {
  background-color: var(--color-white);
  overflow: hidden;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: box-shadow var(--transition-fast) var(--ease);
  // align-self: flex-start;

  .blog-card-image {
    height: 12.5rem;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .blog-card-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;

    h2 {
      font-size: var(--h3-size);
    }

    p {
      color: var(--color-dark-blue);
      font-size: var(--text-small);
    }

    .date {
      color: var(--color-dark-grey);
      font-size: var(--text-base);
      // margin-top: 1rem;
    }

    // Tags
    .blog-card-tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.25rem;
    }

    // Author
    .blog-card-authors {
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;

      > div {
        display: flex;
        align-items: center;
        gap: 0.75rem;

        // Author Image
        .author-image {
          width: 2.75rem;
          height: 2.75rem;
          border-radius: 50%;
          overflow: hidden;

          > img {
            object-fit: cover;
          }
        }

        // Author Name & position
        .author-info {
          .name {
            display: block;
            color: var(--color-dark-blue);
            font-weight: var(--font-weight-links);
          }

          .position {
            display: block;
            color: var(--color-dark-grey);
          }
          font-size: 0.875rem;
        }
      }
    }
  }

  &:hover {
    box-shadow: 0px 0px 0px 2px #43ab9d,
      0px 0px 8px 4px rgba(67, 171, 157, 0.32);
  }
}

// Featured blog post card
.blog-card.blog-card-featured {
  flex-direction: column;

  .blog-card-content {
    width: 100%;

    .blog-card-author {
      margin-top: auto;
    }
  }

  .blog-card-image {
    // min-height: 25rem;
    height: 18rem;
    position: relative;

    @include lg {
      height: auto;
    }

    > img {
      position: absolute;
      inset: 0;
      object-fit: cover;
    }
  }

  .blog-card-tag {
    padding: 0.25rem 0.75rem;
    background-color: var(--color-light-grey);
    color: var(--color-dark-blue);
    text-transform: uppercase;
    border-radius: 2px;
    font-size: var(--text-base);
    align-self: flex-start;
  }

  @include lg {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  @include lg {
    flex-direction: row;
    // min-height: 25rem;

    .blog-card-image {
      width: 50%;
      height: auto;
    }

    .blog-card-content {
      width: 50%;
    }
  }
}

.blog-pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;

  .pagination-next {
    margin-left: auto;
  }

  .pagination-prev {
    color: var(--color-dark-grey);
    text-decoration: none;
    display: flex;
    align-items: center;

    > svg {
      transform: rotate(180deg);
      margin-right: 0.25rem;
    }
  }

  // .pagination {
  //   display: flex;
  //   list-style: none;
  //   margin: 0;
  //   padding: 0.5rem 1rem;

  //   .page-item {
  //     background-color: var(--color-white);
  //     border: 1px solid var(--color-light-grey);
  //     margin-left: -1px;

  //     > a {
  //       display: block;
  //       text-decoration: none;
  //       color: var(--color-dark-blue);
  //       font-size: var(--text-base);
  //       padding: 0.25rem 0.65rem !important;
  //     }
  //   }

  //   .page-item.active {
  //     background-color: var(--color-green);

  //     > a {
  //       color: var(--color-white);
  //     }
  //   }

  //   .page-item.disabled {
  //     > a {
  //       color: var(--color-medium-grey);
  //     }
  //   }

  //   li:nth-child(3) {
  //     margin-left: 1rem;
  //   }
  //   li:nth-last-child(2) {
  //     margin-left: 1rem;
  //   }
  // }
}
