// Tutorials & Integrations grid page
.grid-page {
  h2 {
    margin-bottom: 1rem;

    span {
      text-decoration: underline;
    }
  }

  .grid-page-content {
    background-color: var(--color-bg-light-grey);
  }

  .grid-page-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    .filters {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1rem;
    }

    // Sorting select
    .sort-wrapper {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      label {
        font-size: var(--text-small);
        color: var(--color-medium-grey);
      }
    }

    .select-group {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }

    // Filter selects
    .select-wrapper {
      position: relative;
      min-width: 8rem;
      flex-shrink: 0;

      > select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 100%;
        // max-width: 12rem;
        height: 3.25rem;
        cursor: pointer;
        display: inline-block;
        margin: 0;
        padding: 0 2rem 0 1rem;
        border: 1px solid var(--color-light-grey);
        border-radius: var(--border-radius-sm);
        line-height: 1.25rem;
        font-size: var(--text-small);
        color: var(--color-dark-blue);
        overflow: visible;
        background-color: var(--color-white);

        &:focus {
          outline: 0;
        }
      }
    }

    .select-wrapper:after {
      content: url("/images/icons/dropdown-arrow.svg");
      position: absolute;
      right: 0.75rem;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
    }

    .reset-filters-btn {
      background-color: transparent;
      border: none;
      color: var(--color-medium-grey);
      font-weight: 400;
      font-size: var(--text-base);
      padding: 0;
      cursor: pointer;

      &.reset-filters-desktop {
        display: none;
      }

      @include sm {
        &.reset-filters-desktop {
          display: block;
        }

        &.reset-filters-mobile {
          display: none;
        }
      }
    }
  }

  // Search
  .search-wrapper {
    border: 1px solid var(--color-light-grey);
    border-radius: var(--border-radius-sm);
    width: 100%;
    display: flex;

    @include sm {
      width: 23.75rem;
    }

    > input,
    > .btn-input {
      appearance: none;
      padding: 1rem 2rem 1rem 1rem;
      line-height: 1.25rem;
      font-size: var(--text-small);
      color: var(--color-dark-blue);
      border: none;
      width: calc(100% - 3.125rem);
      height: 3.125rem !important;

      @include md {
        width: 20.625rem;
      }

      &::placeholder {
        color: var(--color-medium-grey);
      }

      &:focus {
        outline: 0;
      }
    }

    > .search-icon {
      flex: 1;
      width: 3.125rem;
      height: 3.125rem;
      border: none;
      border-left: 1px solid var(--color-light-grey);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-white);
    }
  }

  button.search-wrapper {
    padding: 0;
    cursor: pointer;
    width: auto;
    @include sm {
      width: 23.75rem;
    }

    .btn-input {
      background-color: var(--color-white);
      color: var(--color-medium-grey);
      text-align: left;
      display: none;

      @include sm {
        display: block;
      }
    }

    > .search-icon {
      align-self: flex-start;
      border-left: 0;

      @include sm {
        border-left: 1px solid var(--color-light-grey);
      }
    }
  }

  // Grid
  .grid-page-grid {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    gap: 1rem;

    @include sm {
      grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    }

    @include md {
      grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    }
  }

  // Tutorial cards
  .grid-page-card {
    background-color: var(--color-white);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-decoration: none;
    border-radius: 0.5rem;
    transition: box-shadow var(--transition-fast) var(--ease);

    .grid-page-card-header {
      display: flex;
      flex-wrap: wrap;
      gap: 0.25rem;
    }

    .grid-page-card-header > div {
      font-size: 0.75rem;
      padding: 0.25rem 0.45rem;
      background-color: var(--color-light-grey);
      color: var(--color-dark-blue);
      text-transform: capitalize;
      border-radius: 2px;
      display: flex;
      align-items: center;
      gap: 0.25rem;

      &.featured {
        background-color: var(--color-yellow);
      }

      &.outdated {
        background-color: var(--color-dark-blue);
        color: var(--color-white);
      }

      .icon {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-items: center;
        padding-bottom: 1px;
      }
    }

    // Title
    h3 {
      font-size: 1.25rem;
    }

    // Description
    p {
      font-size: 0.875rem;
    }

    &:hover {
      box-shadow: 0px 0px 0px 2px #43ab9d,
        0px 0px 8px 4px rgba(67, 171, 157, 0.32);
    }
  }

  // Integration cards
  .grid-page-card.integration-card {
    background-color: var(--color-bg-dark-blue);

    .integration-card-logo {
      width: auto;
      height: 1.625rem;
      margin-left: auto;
      object-fit: contain;
      max-width: 3.125rem;
    }

    h3, p {
      color: var(--color-white);
    }
  }

  // Tutorial footer
  .grid-page-footer {
    margin-top: 2rem;
    background-color: var(--color-light-grey);
    border-radius: 0.5rem;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include sm {
      flex-direction: row;
      align-items: center;
    }

    .contribute-btn > svg {
      margin-right: 0.5rem;
      margin-bottom: 0.1rem;
      flex-shrink: 0;
    }
  }
}
