/**
 * Index Page
 */

/**
 * Hero
 */
.index-hero {
  position: relative;
  background-color: #f8f8f8;
  background-image: url("/images/hero-bg-image1-mobile.svg"),
    url("/images/hero-bg-image2-mobile.svg");
  background-position: left top -185px, right top 210px;
  background-repeat: no-repeat, no-repeat;

  @include md {
    background-image: url("/images/hero-bg-image1.svg"),
      url("/images/hero-bg-image2.svg");
    background-position: left -220px top -50px, right -140px top 360px;
  }

  @include lg {
    background-position: left top, right top 360px;
  }

  .hero-inner {
    width: 100%;
    position: relative;
    padding: 3.375rem 0 3.5rem;

    @include md {
      padding-bottom: 5.3125rem;
    }

    // Hero text section
    .hero-text {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;

      .hero-logo {
        display: none;
        @include md {
          display: block;
          width: 100%;
          max-width: 13.125rem;
        }
      }

      h1 {
        text-align: center;
        font-size: 2.625rem;
        line-height: 110%;
        letter-spacing: 0.84px;
        font-weight: var(--font-weight-extra-bold);

        @include md {
          margin-top: 3.375rem;
          font-size: 3.5rem;
        }

        @include lg {
          letter-spacing: 1.523px;
          font-size: 4.75rem;
        }
      }

      .hero-button-container {
        margin-top: 3.125rem;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;
        
        a, button {
          width: 100%;
          text-decoration: none;
          font-weight: 800;
          padding: 0.6875rem 1rem;
          border-radius: 0.375rem;
          line-height: 100%;
          text-align: center;
          letter-spacing: 0.313px;
        }

        .white-button {
          border: 1px dashed #000;
          color: var(--color-dark-blue);
          background-color: var(--color-white);
          transition: background-color var(--transition-fast) var(--ease);
          
          svg {
            transition: transform var(--transition-fast) var(--ease);
          }

          &:hover {
            background-color: var(--color-bg-light-grey);
            svg {
              transform: translateX(0.25rem);
            }
          }
        }

        .green-button {
          background-color: var(--color-green);
          color: var(--color-white);
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
          transition: background-color var(--transition-fast) var(--ease);

          svg {
            transition: transform var(--transition-fast) var(--ease);
          }

          &:hover {
            background-color: rgba(
              $color: #{var(--color-green-rgb)},
              $alpha: 0.9
            );

            svg {
              transform: translateX(0.25rem);
            }
          }
        }

        // .github-stars-btn {
        //   align-self: unset;
        //   margin-left: auto;
        // }
      }

      .hero-github-stars {
        margin-top: 2.25rem;
      }

      .hero-down-arrow {
        margin-top: 2.25rem;

        @include md {
          display: none;
        }
      }
    }
  }

  .hero-features {
    width: 100%;
    position: relative;
    padding-top: 3.125rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.125rem;

    @include lg {
      padding-top: 6.25rem;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;
    }

    .feature-item {
      &:nth-of-type(-n + 2) {
        border-bottom: 1px dashed #000;
        padding-bottom: 3.125rem;

        @include lg {
          border-bottom: none;
          padding-bottom: 0;
          border-right: 1px dashed #000;
          padding-right: 1.5rem;
        }
      }

      h3 {
        font-size: 2.25rem;
        font-weight: var(--font-weight-extra-bold);

        br {
          display: none;
          @include lg {
            display: block;
          }
        }
      }

      p {
        font-size: 1rem;
        letter-spacing: 0.15px;
        color: #636363;

        @include md {
          font-size: 1.125rem;
        }
      }

      .highlighted-text {
        margin-top: 1.25rem;
        color: var(--color-green);
        font-weight: var(--font-weight-heading);

        @include md {
          margin-top: 1.875rem;
        }
      }
    }
  }

  .hero-cta {
    display: flex;
    flex-direction: column;
    margin-top: 3.75rem;
    border-radius: 0.875rem;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 2.125rem 1.625rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    transition: transform var(--transition-fast) var(--ease);

    &:hover {
      transform: translateY(-0.25rem);
    }

    @include md {
      padding: 0.75rem;
      margin-top: 4.6875rem;
      gap: 1.5rem;
      align-items: center;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
      border: 0.5px solid #8a8a8a;
    }

    @include lg {
      flex-direction: row;
      gap: 1.5rem;
    }

    .inner-container {
      display: flex;
      align-items: center;
      gap: 2.875rem;
    }

    .lightbulb {
      display: none;
      @include md {
        display: block;
        width: 4.375rem;
        height: 4.375rem;
        flex-shrink: 0;
        margin: 0 0 0.625rem 0.75rem;
      }
    }

    p {
      font-size: 1.3125rem;
      font-weight: var(--font-weight-extra-bold);
      color: var(--color-dark-blue);
      line-height: 120%;
      padding-bottom: 1.875rem;
      border-bottom: 1px dashed var(--color-dark-blue);

      @include md {
        font-size: 1.5rem;
        padding-bottom: 0;
        border-bottom: 0;
      }
    }

    .logo-container {
      flex-shrink: 0;
      margin-top: 1.875rem;

      @include md {
        margin-top: 0;
        padding: 0 1.75rem 1rem 1.75rem;
      }

      @include lg {
        margin-top: 0;
        padding-bottom: 0;
      }
    }
  }
}

/**
 * Logos section
 */
.index-logos {
  background-color: #f8f8f8;

  div.inner {
    padding: 3.5rem 0;
    border-top: 1px dashed var(--color-dark-blue);
    border-bottom: 1px dashed var(--color-dark-blue);

    @include md {
      padding: 4rem 0;
    }
  }

  // Title
  h2 {
    text-align: center;
    font-size: 1.875rem;
    line-height: 120%;
    color: var(--color-green);
    font-weight: var(--font-weight-extra-bold);
    letter-spacing: 0.6px;

    @include md {
      font-size: 3.125rem;
      line-height: 130%;
      letter-spacing: 1px;
    }
  }

  // Logos wrapper
  .logos-items {
    margin-top: 3.5625rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 4rem;
    row-gap: 3.125rem;
    align-items: center;
    place-items: center;

    @include md {
      gap: 4rem;
      display: flex;
      flex-wrap: nowrap;
    }

    @include md {
      gap: 6rem;
    }

    .logos-item {
      gap: 1rem;

      .logos-image {
        width: 100%;
        max-width: 6.25rem;
        border-radius: var(--border-radius-md);

        @include md {
          max-width: 8rem;
        }
      }
    }
  }
}

/**
 * Showcase section
 */
.index-usecases {
  background-color: #f8f8f8;

  div.inner {
    padding: 3.5rem 0 0;

    @include md {
      padding: 5.3125rem 0 0;
    }
  }

  // Title
  h2 {
    text-align: center;
    font-size: 1.875rem;
    line-height: 120%;
    font-weight: var(--font-weight-extra-bold);
    letter-spacing: 0.6px;

    @include md {
      font-size: 3.125rem;
      line-height: 130%;
      letter-spacing: 1px;
    }
  }

  // Showcase items wrapper
  .usecases-slider {
    margin-top: 3.125rem;

    @include md {
      margin-top: 4.6875rem;
    }

    .usecase-slide {
      background-color: var(--color-bg-dark-blue);
      border-radius: 0.875rem;
      padding: 1.75rem;
      margin-left: 1.5rem;
      cursor: grab;

      // &:first-of-type {
      //   margin-left: 2rem;
      //   @include md {
      //     margin-left: 5rem;
      //   }

      //   @include lg {
      //     margin-left: 8rem;
      //   }
      // }

      .slide-content {
        margin-top: 1.5rem;

        h3 {
          color: var(--color-white);
          line-height: 120%;
          font-size: 1.75rem;
          font-weight: var(--font-weight-extra-bold);
          letter-spacing: 0.48px;
        }

        .slide-separator {
          display: block;
          width: 40px;
          height: 4px;
          background-color: var(--color-green);
          margin: 1.3125rem 0;
        }

        p {
          color: var(--color-white);
          line-height: 130%;
          font-size: 1rem;
          letter-spacing: 0.3px;
        }
      }
    }

    .arrow-div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      margin-top: 2.625rem;

      button {
        background: none;
        border: none;
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
      }
    }
  }

  .border-div {
    border-bottom: 1px dashed var(--color-dark-blue);
  }
}

/**
 * Newsletter section
 */
.index-community {
  background-color: #f8f8f8;

  .inner {
    padding: 3.5rem 0 0;

    @include md {
      padding: 5.3125rem 0 0;
    }
  }

  h2 {
    font-size: 1.875rem;
    font-weight: var(--font-weight-extra-bold);
    letter-spacing: 0.6px;
    line-height: 120%;

    @include md {
      font-size: 3.125rem;
      line-height: 130%;
      letter-spacing: 1px;
    }
  }

  .community-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.25rem;
    margin-top: 2.625rem;

    @include md {
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }

    @include lg {
      gap: 3.25rem;
    }
  }

  .discord-card,
  .newsletter-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.25rem;
    border-radius: 0.5rem;

    @include md {
      padding: 2rem;
    }

    h3 {
      font-size: 1.875rem;
      font-weight: var(--font-weight-extra-bold);
      margin-top: 1.25rem;

      @include lg {
        font-size: 2.5rem;
      }
    }

    p {
      font-size: 1rem;
      letter-spacing: 0.24px;
      line-height: 160%;
      margin: 1.25rem 0;
    }
  }

  .discord-card {
    background-color: var(--color-green);
    h3,
    p {
      color: var(--color-white);
    }

    svg.discord-logo {
      width: 2.625rem;

      @include md {
        width: 4.5rem;
      }
    }

    a {
      font-size: 1.0625rem;
      font-weight: var(--font-weight-extra-bold);
      letter-spacing: 1.7px;
      text-decoration: none;
      color: var(--color-white);

      svg {
        transition: transform var(--transition-fast) var(--ease);
      }

      &:hover {
        svg {
          transform: translateX(0.25rem);
        }
      }
    }
  }

  .newsletter-card {
    background-color: var(--color-white);
    color: var(--color-dark-blue);
    border: 0.58px solid var(--color-dark-blue);

    svg.email-icon {
      width: 2.625rem;

      @include md {
        width: 3rem;
      }
    }

    form {
      width: 100%;
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: flex-start;

      @media (min-width: 450px) {
        width: auto;
        flex-direction: row;
      }

      @include md {
        flex-direction: column;
        width: 100%;
      }

      @include lg {
        flex-direction: row;
        gap: 2rem;
      }

      input {
        width: 100%;
      }
    }
  }

  .upcoming-events {
    padding-top: 3.5rem;

    @include md {
      padding-top: 5.3125rem;
    }

    h3 {
      font-size: 1.875rem;
      font-weight: var(--font-weight-extra-bold);
    }

    .luma-embed {
      margin-top: 3.5rem;
    }
  }

  .community-talks {
    padding: 3.5rem 0;

    @include md {
      padding: 5.3125rem 0;
    }

    h3 {
      font-size: 1.875rem;
      font-weight: var(--font-weight-extra-bold);
    }

    .video-grid {
      display: none;

      @include md {
        margin-top: 3.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
      }

      @include lg {
        gap: 2rem;
      }
    }
  }

  .video-card {
    margin-left: 1.5rem;

    @include md {
      margin-left: 0;
    }

    .video-container {
      width: 100%;
      height: 12.5rem;
      border-radius: 1rem;
      overflow: hidden;

      @include md {
        height: 13.75rem;
      }
    }

    h4 {
      color: #000 !important;
      font-size: 1rem;
      font-weight: var(--font-weight-heading);
      line-height: 130%;
      letter-spacing: 0.153px;
      margin-top: 1.5rem;

      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    p {
      margin-top: 1rem;
      color: #8a8a8a;
      line-height: 130%;
      font-size: 0.875rem;
    }

    @include md {
      h4 {
        font-size: 1.125rem;
        letter-spacing: 0.18px;
      }
    }
  }

  .talks-slider {
    padding-bottom: 3.5rem;
    @include md {
      display: none;
    }

    .talks-arrow-div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      margin-top: 2rem;

      button {
        background: none;
        border: none;
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
      }
    }
  }
}
