/**
 * Index Page
 */

/**
 * Hero
 */
.index-hero {
  position: relative;
  background-color: #f8f8f8;
  background-image: url("/images/hero-bg-image1-mobile.svg"),
    url("/images/hero-bg-image2-mobile.svg");
  background-position: left top -185px, right top 210px;
  background-repeat: no-repeat, no-repeat;

  @include md {
    background-image: url("/images/hero-bg-image1.svg"),
      url("/images/hero-bg-image2.svg");
    background-position: left -220px top -50px, right -140px top 360px;
  }

  @include lg {
    background-position: left top, right top 360px;
  }

  .hero-inner {
    width: 100%;
    position: relative;
    padding-top: 3.375rem;

    // Hero text section
    .hero-text {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;

      .hero-logo {
        display: none;
        @include md {
          display: block;
          width: 100%;
          max-width: 13.125rem;
        }
      }

      h1 {
        text-align: center;
        font-size: 2.625rem;
        line-height: 110%;

        @include md {
          margin-top: 3.375rem;
          font-size: 3.5rem;
        }

        @include lg {
          font-size: 4.75rem;
        }
      }

      .hero-button-container {
        margin-top: 3.125rem;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;

        a {
          width: 100%;
          text-decoration: none;
          font-weight: 800;
          padding: 0.6875rem 1rem;
          border-radius: 0.375rem;
          line-height: 100%;
          text-align: center;
        }

        .white-button {
          border: 1px dashed #000;
          color: var(--color-dark-blue);
          background-color: var(--color-white);
          transition: background-color var(--transition-fast) var(--ease);

          &:hover {
            background-color: var(--color-bg-light-grey);
          }
        }

        .green-button {
          background-color: var(--color-green);
          color: var(--color-white);
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
          transition: background-color var(--transition-fast) var(--ease);

          svg {
            transition: transform var(--transition-fast) var(--ease);
          }

          &:hover {
            background-color: rgba(
              $color: #{var(--color-green-rgb)},
              $alpha: 0.9
            );

            svg {
              transform: translateX(0.25rem);
            }
          }
        }

        // .github-stars-btn {
        //   align-self: unset;
        //   margin-left: auto;
        // }
      }

      .hero-github-stars {
        margin-top: 2.25rem;
      }

      .hero-down-arrow {
        margin-top: 2.25rem;

        @include md {
          display: none;
        }
      }
    }
  }

  .hero-features {
    width: 100%;
    position: relative;
    padding-top: 3.125rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.125rem;

    @include lg {
      padding-top: 6.25rem;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;
    }

    .feature-item {
      &:nth-of-type(-n + 2) {
        border-bottom: 1px dashed #000;
        padding-bottom: 3.125rem;

        @include lg {
          border-bottom: none;
          padding-bottom: 0;

          border-right: 1px dashed #000;
          padding-right: 2rem;
        }
      }

      h3 {
        font-size: 1.875rem;

        br {
          display: none;
          @include lg {
            display: block;
          }
        }
      }

      p {
        font-size: 0.9375rem;
        color: #636363;
      }

      .highlighted-text {
        margin-top: 1.875rem;
        color: var(--color-green);
        font-weight: var(--font-weight-heading);
      }
    }
  }

  .hero-cta {
    display: flex;
    flex-direction: column;
    margin-top: 3.75rem;
    border-radius: 0.875rem;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 2.125rem 1.625rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

    @include md {
      padding: 0.75rem;
      margin-top: 4.6875rem;
      gap: 0.5rem;
      align-items: center;
      box-shadow: none;
      border: 1px dashed #8a8a8a;
    }

    @include lg {
      flex-direction: row;
      gap: 2.875rem;
    }

    .inner-container {
      display: flex;
      align-items: center;
      gap: 2.875rem;
    }

    .lightbulb {
      display: none;
      @include md {
        display: block;
        width: 4.375rem;
        height: 4.375rem;
        flex-shrink: 0;
        margin: 0 0 0.625rem 0.75rem;
      }
    }

    p {
      font-size: 1.3125rem;
      font-weight: var(--font-weight-heading);
      color: var(--color-dark-blue);
      line-height: 120%;
      padding-bottom: 1.875rem;
      border-bottom: 1px dashed var(--color-dark-blue);

      @include md {
        font-size: 1.5rem;
        padding-bottom: 0;
        border-bottom: 0;
      }
    }

    .logo-container {
      width: 100%;
      flex-shrink: 0;
      margin-top: 1.875rem;

      @include md {
        width: 300px;
        margin-top: 0;
        display: flex;
        justify-content: center;
        background-color: #fff;
        padding: 1.3125rem 1.75rem;
        border: 1px dashed #8a8a8a;
        border-radius: 0.875rem;
      }
    }
  }
}

/**
 * Logos section
 */
.index-logos {
  background-color: var(--color-bg-light-grey);

  // Title
  h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: var(--h2-size);
  }

  // Showcase items wrapper
  .logos-items {
    display: grid;
    gap: 1rem;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    align-items: center;

    @include lg {
      gap: 5rem;
    }

    // Individual showcase items
    .logos-item {
      gap: 1rem;

      .logos-image {
        width: 100%;
        border-radius: var(--border-radius-md);
      }
    }
  }
}

/**
 * Showcase section
 */
.index-showcase {
  background-color: var(--color-bg-white);

  // Title
  h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: var(--h1-size);

    @include md {
      margin-bottom: 3rem;
    }

    @include lg {
      margin-bottom: 5rem;
    }
  }

  // Showcase items wrapper
  .showcase-items {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include lg {
      gap: 5rem;
    }

    // Individual showcase items
    .showcase-item {
      display: flex;
      flex-direction: column-reverse;
      gap: 1rem;

      @include md {
        flex-direction: row;
        align-items: center;
        gap: 2rem;

        > div {
          flex: 1 1 0%;
        }
      }

      @include lg {
        gap: 3rem;
      }

      // Text section
      > div:first-of-type {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .arrow-button {
          align-self: flex-start;
        }
      }

      .showcase-image {
        border-radius: var(--border-radius-md);
      }
    }
  }
}

/**
 * Features section
 */
.index-features {
  background-color: var(--color-dark-blue);

  // Feature items wrapper
  .feature-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 5rem 4rem;

    @include lg {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 6rem 5rem;
    }

    // Individual feature items
    .feature-item {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      > h3 {
        color: var(--color-white);
        margin-top: 1rem;
      }

      > p {
        color: var(--color-dark-grey);
      }

      > img {
        width: 5rem;
        height: 5rem;
      }
    }
  }
}

/**
 * Github section
 */
.index-github {
  .top-section {
    background-color: var(--color-bg-light-grey);
    border-bottom: 0.125rem solid var(--color-light-grey);

    .inner {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding-bottom: 3rem;

      @include md {
        flex-direction: row;

        justify-content: space-between;
      }

      h2 {
        margin-bottom: 2rem;
      }

      .stats-boxes {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        li {
          padding: 2rem;
          border: 0.125rem solid var(--color-light-grey);
          display: flex;
          flex-direction: column;
          align-items: center;
          flex-grow: 1;

          > span:first-of-type {
            font-size: var(--text-large);

            @include md {
              font-size: var(--text-large);
            }
          }

          > span:nth-of-type(2) {
            font-size: var(--text-small);
          }
        }
      }
    }
  }

  // Contributors section
  .bottom-section {
    .inner {
      padding-top: 3rem;
    }

    h3 {
      text-align: center;
      margin-bottom: 3rem;
    }

    .top-contributors-container-js {
      position: relative;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
      gap: 2rem;

      .loader {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
      }

      @include md {
        grid-template-columns: repeat(5, 1fr);
        gap: 3rem;
      }

      // Contributor card
      li {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 4rem;
          height: 4rem;
          margin-bottom: 0.5rem;

          @include lg {
            width: 6rem;
            height: 6rem;
          }
        }

        // Text
        > span {
          font-size: var(--text-small);
          text-align: center;
          white-space: nowrap;
        }

        > span:first-of-type {
          font-weight: var(--font-weight-heading);
        }
      }
    }
  }
}

/**
 * Newsletter section
 */
.index-community {
  background-color: var(--color-bg-dark-blue);

  .inner {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    @include md {
      grid-template-columns: 1fr 1fr;
    }
  }

  .discord-card,
  .newsletter-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    padding: 2rem;
    border-radius: var(--border-radius-md);

    img {
      width: 5rem;
    }

    .arrow-button {
      background-color: var(--color-green);
    }
  }

  .discord-card {
    background-color: var(--color-bg-light-grey);
  }

  .newsletter-card {
    background-color: var(--color-bg-light-grey);
  }
}
