.tutorials {
  // Heading
  .tutorials-heading {
    display: flex;
    flex-direction: column;

    > h1,
    > p {
      text-align: center;
    }

    > h1 {
      margin-bottom: 2rem;

      @include md {
      }
    }
  }

  // Buttons
  .tutorials-buttons {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;

    @include md {
      flex-direction: row;
      margin-top: 3rem;
    }

    .btn {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      background-color: var(--color-dark-blue);

      > svg {
        width: 1.2rem;
        fill: var(--color-white);
      }
    }

    .filter-btn {
      background-color: transparent;
      color: var(--color-dark-blue);
      border: 2px solid var(--color-yellow);
      opacity: 1;
      transition-property: opacity, border-color;
      transition-duration: var(--transition-fast);
      transition-timing-function: var(--ease);
    }

    .filter-btn.disabled {
      opacity: 0.5;
      border: 2px solid var(--color-light-grey);
    }
  }

  // Accordion container
  .accordions {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    // Accordions
    .accordion-js {
      border-radius: 5px;
      overflow: hidden;

      .content {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: var(--color-bg-light-grey);
        border: 2px solid var(--color-bg-dark-blue);
        border-top: none;
        border-radius: 0 0 5px 5px;

        @include md {
          padding: 2rem;
          gap: 2rem;
        }

        // Tutorial cards
        .tutorial-card {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          text-decoration: none;
          border: 2px solid var(--color-light-grey);
          border-radius: 5px;
          background: var(--color-white);
          padding: 1rem;
          transition: all var(--transition-fast) var(--ease);
          user-select: none;

          @include md {
            padding: 2rem;
          }

          &:hover {
            border: 2px solid var(--color-yellow);
            filter: var(--shadow-filter);
          }
        }
      }
    }

    .accordion-js summary::-webkit-details-marker {
      display: none;
    }

    .accordion-title {
      display: flex;
      gap: 0.5rem;
      position: relative;
      background-color: var(--color-bg-dark-blue);
      color: var(--color-white);
      opacity: 1;
      border: none;
      outline: none;
      font-size: var(--h3-size);
      font-weight: var(--font-weight-heading);
      padding: 1rem;
      user-select: none;
      cursor: pointer;
      transition: opacity var(--transition-fast) var(--ease);

      > svg {
        width: 1.25rem;
        transform: rotate(-90deg);
      }

      &:hover {
        opacity: 0.95;
      }

      @include md {
        padding: 2rem;
      }
    }

    .accordion-js[open] .accordion-title svg {
      transform: rotate(0deg);
    }
  }
}
